@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.cabecalho {
  background-color: #3572ef;
  color: #fff;
  padding: 16px 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: 600;
}

.cabecalho nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cabecalho nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
}

.cabecalho nav ul li a {
  text-decoration: none;
  color: #fff;
}

section {
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
}

article {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 800px;
}

.titulo-secao {
  margin-bottom: 24px;
}

.titulo-azul {
  color: #3572ef;
}

.imagens-enchentes {
  width: 400px;
}

.secao-azul {
  background: linear-gradient(to bottom, #3572ef 60%, #1e4189 100%);
  color: #fff;
}

#secao-tecnologias {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 100px;
  padding: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#secao-objetivos img {
  width: 300px;
}

#secao-publico img {
  width: 400px;
}

#secao-beneficios img {
  width: 350px;
}
