@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --cor-principal: #3572ef;
  --cor-gradiente: #1e4189;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.cabecalho {
  background-color: var(--cor-principal);
  color: var(--branco);
  padding: 0px 60px;
  position: fixed;
  top: 0;
  left: 0;
  font-weight: 600;
  z-index: 1000;
  height: 8vh;
  width: 100%;
}

.cabecalho nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}

.lista-navegacao {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.lista-navegacao li a {
  text-decoration: none;
  color: var(--branco);
}

.lista-navegacao li a:hover {
  opacity: 0.75;
}

.icone {
  cursor: pointer;
}

section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px;
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

article {
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 800px;
}

.titulo-secao {
  margin-bottom: 24px;
}

.titulo-azul {
  color: var(--cor-principal);
}

img {
  transition: 0.3s ease;
}

img:hover {
  transform: translateY(-10px);
}

.imagens-enchente {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#secao-problema img {
  width: 400px;
}

.secao-azul {
  background: linear-gradient(
    to bottom,
    var(--cor-principal) 60%,
    var(--cor-gradiente) 100%
  );
  color: var(--branco);
}

#secao-tecnologias {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  gap: 100px;
  padding: 20px;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#secao-objetivos img {
  width: 300px;
}

#secao-publico img {
  width: 400px;
}

#secao-beneficios img {
  width: 350px;
}

#secao-impacto img {
  width: 400px;
}

.rodape {
  padding: 80px;
  text-align: center;
  font-weight: 600;
}

.mobile-menu {
  cursor: pointer;
  display: none;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--branco);
  margin: 8px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }

  .cabecalho {
    padding: 0px 30px;
  }

  .lista-navegacao {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 30%;
    min-width: 300px;
    height: 92vh;
    background-color: var(--cor-principal);
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    align-items: baseline;
  }

  .lista-navegacao li {
    opacity: 0;
    margin-left: 30px;
  }

  .lista-navegacao li:nth-child(1) {
    margin-top: 30px;
  }

  .mobile-menu {
    display: block;
  }

  #secao-tecnologias {
    gap: 20px;
  }

  #secao-tecnologias img {
    width: 100px;
  }

  .grid-container {
    gap: 50px;
  }
}

.lista-navegacao.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}
